<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chenzhiqiang.authority.mapper.PermissionMapper">
    <sql id="selectColumns">
        `id`,`name`,`url`,`descs`,`sn`,`parent_id`
    </sql>
    <resultMap id="PermissionMap" type="Permission">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="descs" column="descs"/>
        <result property="sn" column="sn"/>
        <result property="parentId" column="parent_id"/>
        <collection property="children" ofType="Permission">
            <id column="cid" property="id"/>
            <result property="name" column="cname"/>
            <result property="sn" column="csn"/>
        </collection>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_auth_permission
        (name,
         url,
         descs,
         sn,
         parent_id)
        values (#{name},
                #{url},
                #{descs},
                #{sn},
                #{parentId})
    </insert>
    <delete id="deleteAll">
        delete
        from t_auth_permission
    </delete>
    <delete id="deleteById">
        delete
        from t_auth_permission
        where id = #{id}
    </delete>
    <delete id="patchDelete">
        delete from t_auth_permission where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectAll" resultMap="PermissionMap">
        select
        <include refid="selectColumns"/>
        from t_auth_permission
    </select>
    <sql id="whereCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                name like concat('%',#{keyword},'%') or descs like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
    <select id="selectByQueryObj" resultMap="PermissionMap">
        select
        <include refid="selectColumns"/>
        from t_auth_permission
        <include refid="whereCondition"/>
        limit #{start},#{pageSize}
    </select>
    <select id="getTotal" resultMap="PermissionMap">
        select
        <include refid="selectColumns"/>
        from t_auth_permission
        <include refid="whereCondition"/>
    </select>
    <select id="tree" resultMap="PermissionMap">
        SELECT p.*,
               c.id     cid,
               c.`name` cname,
               c.sn as  csn
        FROM t_auth_permission p
                 LEFT JOIN t_auth_permission c ON p.id = c.parent_id
        WHERE p.parent_id IS NULL
    </select>
    <select id="getAllPermissionsById" resultType="java.lang.String">
        SELECT rp.permission_sn
        FROM t_auth_employee_role er
                 LEFT JOIN t_auth_role_permission rp ON er.role_id = rp.role_id
        WHERE er.employee_id = #{id}
    </select>
</mapper>