<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chenzhiqiang.OperateMenu.mapper.OperateMenuMapper">
    <resultMap id="OperateMenuMap" type="OperateMenu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
        <result column="parent_id" property="parentId"/>
        <collection property="childMenu" ofType="OperateMenu">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="curl" property="url"/>
        </collection>
    </resultMap>

    <sql id="selectColumns">
        `id`,`name`,`url`,`icon`,`parent_id`
    </sql>
    <sql id="whereCondition">
        <where>
            <if test="keyword != null and keyword !=''">
                name like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
    <insert id="addOperateMenu" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_auth_menu (name, url, icon, parent_id)
        values (#{name},
                #{url},
                #{icon},
                #{parentId});
    </insert>
    <insert id="addRoleMenu">
        insert into t_auth_role_menu(role_id, menu_id) values
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{employeeId},#{menuId})
        </foreach>
    </insert>
    <update id="modifyOperateMenu">
        update t_auth_menu
        set name = #{name},
            url = #{url},
            icon = #{icon},
            parent_id = #{parentId}
        where id = #{id};
    </update>
    <delete id="deleteById">
        delete
        from t_auth_menu
        where id = #{id};
    </delete>
    <delete id="patchDeleteDepartments">
        delete
        from t_auth_menu
        where id in
        <foreach collection="list" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteRoleMenu">
        delete from t_auth_role_menu where role_id = #{id}
    </delete>
    <select id="selectAll" resultMap="OperateMenuMap">
        select
        <include refid="selectColumns"/>
        from t_auth_menu;
    </select>
    <select id="selectByID" resultMap="OperateMenuMap">
        select
        <include refid="selectColumns"/>
        from t_auth_menu
        where id = #{id};
    </select>
    <select id="seletByQueryObjec" resultMap="OperateMenuMap">
        select
        <include refid="selectColumns"/>
        from t_auth_menu
        <include refid="whereCondition" />
    </select>
    <select id="pageList" resultMap="OperateMenuMap">
        select
        <include refid="selectColumns"/>
        from t_auth_menu
        <include refid="whereCondition" />
        limit #{start},#{pageSize}
    </select>
    <select id="tree" resultMap="OperateMenuMap">
        SELECT
            p.*,
            c.id as cid,
            c.name as cname,
            c.url as curl
        FROM
            t_auth_employee_role er
                LEFT JOIN t_auth_role_menu rm ON er.role_id = rm.role_id
                LEFT JOIN t_auth_menu p ON rm.menu_id = p.id
                LEFT JOIN t_auth_menu c ON c.parent_id = p.id
                AND c.id IN (
                    SELECT
                        menu_id
                    FROM t_auth_employee_role er1
                        LEFT JOIN t_auth_role_menu rm1 ON er1.role_id = rm1.role_id
                    WHERE
                        er1.employee_id = #{loginUserId}
                )
        WHERE
            er.employee_id = #{loginUserId}
          AND p.parent_id IS NULL
    </select>
    <select id="getRoleMenu" resultType="java.lang.Long">
        select menu_id from t_auth_role_menu where role_id = #{id}
    </select>
    <select id="treeAllMenus" resultMap="OperateMenuMap">
        SELECT
            p.*,
            c.id AS cid,
            c.NAME AS cname,
            c.url AS curl
        FROM
            t_auth_menu p
                LEFT JOIN t_auth_menu c ON p.id = c.parent_id
        WHERE
            p.parent_id IS NULL
    </select>
</mapper>