<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chenzhiqiang.login.mapper.LoginMapper">

    <select id="getLoginDTO" resultType="org.chenzhiqiang.login.dto.LoginDTO">
        select username, password
        from t_org_employee
        where username = #{username}
    </select>
</mapper>